@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: variables.$normal-text-font-family-500;
  line-height: 1;
  background-color: variables.$basic-background-color;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.footer-container {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.heading-secondary {
  color: variables.$heading-color;
  font-family: variables.$highlight-text-font-family-700;
  font-size: 6rem;
  line-height: 1.6;
}
