$accent-color: #2a9d8f;
$accent-color-50: rgba(42, 157, 143, 0.5);
$heading-color: #a16171;
$add-and-romove-button-color: #e9c46a;
$text-color: #ffffff;
$dark-background-color: #3a3a3a;
$heading-font-family-800: "Poppins-ExtraBold";
$normal-text-font-family-500: "Poppins-Medium";
$sub-text-font-family-300: "Poppins-Light";
$highlight-text-font-family-700: "Poppins-Bold";
